{
    "openapi": "3.0.0",
    "info": {
        "title": "BetAki Admin API",
        "description": "API REST da Dashboard de Administração da Betaki (Laravel 12 / PHP 8.4).",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Ambiente atual"
        }
    ],
    "paths": {
        "/api/v1/awards/batches": {
            "get": {
                "tags": [
                    "Awards"
                ],
                "summary": "Listar lotes de apuração",
                "operationId": "c8943c82bca05dfb002c898b3b99abb8",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Awards"
                ],
                "summary": "Criar lote",
                "operationId": "0f1aad6771730b5e2c4ea407f13538cd",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Criado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/awards/batches/{id}": {
            "get": {
                "tags": [
                    "Awards"
                ],
                "summary": "Detalhar lote + resultados",
                "operationId": "c8e7f17f712c1fff09a420d431b28bc2",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Awards"
                ],
                "summary": "Atualizar lote",
                "operationId": "236b7bcfdfa3a146f5c2bc1fe28d0fd3",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Awards"
                ],
                "summary": "Remover lote",
                "operationId": "f9c2e2fca4cf4ea5dfeb6efc217d48a6",
                "responses": {
                    "204": {
                        "description": "Sem conteúdo"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/awards/batches/{id}/results": {
            "put": {
                "tags": [
                    "Awards"
                ],
                "summary": "Sincronizar resultados (pós-apuração) e preparar revisão",
                "operationId": "b6a65f607e6dceeb2eee1715a533410b",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/awards/batches/{id}/publish": {
            "post": {
                "tags": [
                    "Awards"
                ],
                "summary": "Publicar lote revisado",
                "operationId": "5b4ad2fbade3cad14ea00c09c09cdfb1",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/awards/batches/{id}/archive": {
            "post": {
                "tags": [
                    "Awards"
                ],
                "summary": "Arquivar lote publicado",
                "operationId": "7e760e0e2284c569467211daef745ac9",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/banners": {
            "get": {
                "tags": [
                    "Banners"
                ],
                "summary": "Listar banners (cursor paginate)",
                "operationId": "0c3da1f5a44ca6f7b2522667ec88f455",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BannerIndex"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Banners"
                ],
                "summary": "Criar banner",
                "operationId": "f28ab9e25f8264622bb5d9322848cf5e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BannerStoreRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Criado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Banner"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/banners/{id}": {
            "put": {
                "tags": [
                    "Banners"
                ],
                "summary": "Atualizar banner",
                "operationId": "e4555b6d35dcbd30f191b2420475924a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BannerStoreRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Banner"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/banners/{id}/publish": {
            "post": {
                "tags": [
                    "Banners"
                ],
                "summary": "Publicar imediatamente (override de agendamento)",
                "operationId": "9d7f2e5111ff7ce67c48e4372592fbb5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Banner"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/slots/sync-from-bgmng": {
            "post": {
                "tags": [
                    "Slots"
                ],
                "summary": "Importar slots e extras do YAML bgmng (Softswiss)",
                "operationId": "5ff62340641851541b0e65d0dd957e11",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "example": "inactive"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Listar categorias",
                "operationId": "e225c2b7eb5daf7fb16e00f4f07ff030",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Criar categoria",
                "operationId": "dd76b8d73b7ea8b4951f03d7c0904c92",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Criado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/categories/slots": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Listar categorias de slots (sem jogos)",
                "operationId": "266d93d1f4c90cc0a901a26faeca5bb8",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/v1/categories/live": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Listar categorias de live casino (sem jogos)",
                "operationId": "dc619eb5cb2189fe87ca5d3ebe1ba3ec",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/v1/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Detalhar categoria",
                "operationId": "9c4934d1b68a6d4440ec72cfc8ae7074",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "with_slots",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "description": "Incluir slots associados",
                            "type": "boolean",
                            "default": "true"
                        }
                    },
                    {
                        "name": "slots_limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "description": "Limite de slots retornados",
                            "type": "integer",
                            "default": 50
                        }
                    },
                    {
                        "name": "slots_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "description": "Página de slots",
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Atualizar categoria",
                "operationId": "988e8695bc991d7f8e40131db5ba7a76",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Remover categoria",
                "operationId": "37196d259228d2274dd9dbef8b00e547",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Sem conteúdo"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/categories/{id}/slots": {
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Sincronizar slots da categoria (com posição por item)",
                "operationId": "98360b1fbf0c9d975ede14597b5e105c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "slot_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "position": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/categories/sync": {
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Sincronizar categorias da API externa",
                "operationId": "0c5c448751fb43e0456c419a635b6852",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "portal_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/footers": {
            "get": {
                "tags": [
                    "Footers"
                ],
                "summary": "Listar footers (cursor paginate)",
                "description": "Listar footers (cursor paginate)",
                "operationId": "bb74c8819c8f127f77b2c19425a6517f",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Busca pelo campo key",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrar por status (draft, published, archived)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Filtrar por país (BR, PT, ES, ...)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 2
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "key": {
                                                        "type": "string",
                                                        "example": "main-footer"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "draft"
                                                    },
                                                    "country": {
                                                        "type": "string",
                                                        "example": "BR"
                                                    },
                                                    "brand": {
                                                        "type": "string",
                                                        "example": "default",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 15
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Footers"
                ],
                "summary": "Criar novo footer",
                "description": "Criar footer",
                "operationId": "b6c0e69f555bcbe3fccc8ff6a2f2a7ea",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "key"
                                ],
                                "properties": {
                                    "key": {
                                        "type": "string",
                                        "example": "main-footer"
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "draft"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "BR",
                                        "nullable": true
                                    },
                                    "brand": {
                                        "type": "string",
                                        "example": "default",
                                        "nullable": true
                                    },
                                    "publish_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "translations": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "locale"
                                            ],
                                            "properties": {
                                                "locale": {
                                                    "type": "string",
                                                    "example": "pt-BR"
                                                },
                                                "legal_title": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "legal_text": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "disclaimer": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Footer criado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "key": {
                                            "type": "string",
                                            "example": "main-footer"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "draft"
                                        },
                                        "country": {
                                            "type": "string",
                                            "example": "BR"
                                        },
                                        "brand": {
                                            "type": "string",
                                            "example": "default"
                                        },
                                        "publish_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true
                                        },
                                        "published_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true
                                        },
                                        "translations": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "locale": {
                                                        "type": "string",
                                                        "example": "pt-BR"
                                                    },
                                                    "legal_title": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "legal_text": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "disclaimer": {
                                                        "type": "string",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "links": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "block": {
                                                        "type": "string",
                                                        "example": "legal"
                                                    },
                                                    "label": {
                                                        "type": "string",
                                                        "example": "Política de Privacidade"
                                                    },
                                                    "url": {
                                                        "type": "string",
                                                        "example": "/privacy-policy"
                                                    },
                                                    "target": {
                                                        "type": "string",
                                                        "example": "_self"
                                                    },
                                                    "position": {
                                                        "type": "integer",
                                                        "example": 0
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/footers/{footer}": {
            "get": {
                "tags": [
                    "Footers"
                ],
                "summary": "Obter detalhes de um footer",
                "description": "Detalhar footer",
                "operationId": "5d0ada490576831f005d6fca290724ab",
                "parameters": [
                    {
                        "name": "footer",
                        "in": "path",
                        "description": "ID do footer",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "key": {
                                            "type": "string",
                                            "example": "main-footer"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "draft"
                                        },
                                        "country": {
                                            "type": "string",
                                            "example": "BR"
                                        },
                                        "brand": {
                                            "type": "string",
                                            "example": "default"
                                        },
                                        "publish_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true
                                        },
                                        "published_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true
                                        },
                                        "translations": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "locale": {
                                                        "type": "string",
                                                        "example": "pt-BR"
                                                    },
                                                    "legal_title": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "legal_text": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "disclaimer": {
                                                        "type": "string",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "links": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "block": {
                                                        "type": "string",
                                                        "example": "legal"
                                                    },
                                                    "label": {
                                                        "type": "string",
                                                        "example": "Política de Privacidade"
                                                    },
                                                    "url": {
                                                        "type": "string",
                                                        "example": "/privacy-policy"
                                                    },
                                                    "target": {
                                                        "type": "string",
                                                        "example": "_self"
                                                    },
                                                    "position": {
                                                        "type": "integer",
                                                        "example": 0
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Footer não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Footers"
                ],
                "summary": "Atualizar footer existente",
                "description": "Atualizar footer",
                "operationId": "7bf3837e276fd3df05108054a43e5a5c",
                "parameters": [
                    {
                        "name": "footer",
                        "in": "path",
                        "description": "ID do footer",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "key": {
                                        "type": "string",
                                        "example": "main-footer"
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "draft"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "BR",
                                        "nullable": true
                                    },
                                    "brand": {
                                        "type": "string",
                                        "example": "default",
                                        "nullable": true
                                    },
                                    "publish_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "translations": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "locale"
                                            ],
                                            "properties": {
                                                "locale": {
                                                    "type": "string",
                                                    "example": "pt-BR"
                                                },
                                                "legal_title": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "legal_text": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "disclaimer": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Footer atualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "key": {
                                            "type": "string",
                                            "example": "main-footer"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "draft"
                                        },
                                        "country": {
                                            "type": "string",
                                            "example": "BR"
                                        },
                                        "brand": {
                                            "type": "string",
                                            "example": "default"
                                        },
                                        "publish_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true
                                        },
                                        "published_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Footer não encontrado"
                    },
                    "422": {
                        "description": "Erro de validação"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Footers"
                ],
                "summary": "Remover footer",
                "description": "Remover footer",
                "operationId": "3f93eec8e96c94967264226523b4422f",
                "parameters": [
                    {
                        "name": "footer",
                        "in": "path",
                        "description": "ID do footer",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Footer removido com sucesso"
                    },
                    "404": {
                        "description": "Footer não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/footers/{footer}/publish": {
            "post": {
                "tags": [
                    "Footers"
                ],
                "summary": "Publicar footer",
                "description": "Publicar footer",
                "operationId": "8cfdf176194df5e3e79e85826c7fac81",
                "parameters": [
                    {
                        "name": "footer",
                        "in": "path",
                        "description": "ID do footer",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Footer publicado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "key": {
                                            "type": "string",
                                            "example": "main-footer"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "published"
                                        },
                                        "publish_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "published_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Footer não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/footers/{footer}/links": {
            "put": {
                "tags": [
                    "Footers"
                ],
                "summary": "Sincronizar links de um footer",
                "description": "Sincronizar links do footer",
                "operationId": "3347730f376fa8c75d898beeb081f0ec",
                "parameters": [
                    {
                        "name": "footer",
                        "in": "path",
                        "description": "ID do footer",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "links"
                                ],
                                "properties": {
                                    "links": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 5,
                                                    "nullable": true
                                                },
                                                "block": {
                                                    "type": "string",
                                                    "example": "legal",
                                                    "nullable": true
                                                },
                                                "label": {
                                                    "type": "string",
                                                    "example": "Política de Privacidade"
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "example": "/privacy-policy"
                                                },
                                                "icon": {
                                                    "type": "string",
                                                    "example": "instagram",
                                                    "nullable": true
                                                },
                                                "target": {
                                                    "type": "string",
                                                    "example": "_self"
                                                },
                                                "position": {
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "is_active": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Links sincronizados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "key": {
                                            "type": "string",
                                            "example": "main-footer"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "draft"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Footer não encontrado"
                    },
                    "422": {
                        "description": "Erro de validação"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/game-extras/overview": {
            "get": {
                "tags": [
                    "Game Extras"
                ],
                "summary": "Listar Game Extras com status de match na base (portal_games)",
                "operationId": "213a197b1592eeb4119d85b1423e0b9a",
                "parameters": [
                    {
                        "name": "portal_id",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/game-extras/sync": {
            "post": {
                "tags": [
                    "Game Extras"
                ],
                "summary": "Sincronizar dados de RTP/Volatilidade/Aposta mínima do CSV",
                "operationId": "a67a1e9fb0d080592284e40195692226",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/lobbies/{vertical}/config": {
            "get": {
                "tags": [
                    "Lobbies"
                ],
                "summary": "Obter configuração do lobby",
                "operationId": "b91ee6b719354fec460c9eff7940f002",
                "parameters": [
                    {
                        "name": "vertical",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "slots",
                                "live"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Lobbies"
                ],
                "summary": "Atualizar configuração do lobby",
                "operationId": "490082d5d6a4bd8bdd509fe17eedd026",
                "parameters": [
                    {
                        "name": "vertical",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "slots",
                                "live"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "sections": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/lobbies/casino": {
            "get": {
                "tags": [
                    "Lobbies"
                ],
                "summary": "Layout do lobby de cassino (slots)",
                "operationId": "a4e8457ac558554fb76a2d89f25bd022",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/v1/lobbies/live": {
            "get": {
                "tags": [
                    "Lobbies"
                ],
                "summary": "Layout do lobby de cassino ao vivo",
                "operationId": "d0e5db166ae97710e11f4b4e9a1fd3a3",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/v1/menus": {
            "get": {
                "tags": [
                    "Menus"
                ],
                "summary": "Listar menus",
                "operationId": "4512a8cf3e47b6bbb48efa21ad1005e0",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Menus"
                ],
                "summary": "Criar menu",
                "operationId": "70898b64abbfbbd24bb791f350e431f1",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Criado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/menus/reorder": {
            "put": {
                "tags": [
                    "Menus"
                ],
                "summary": "Reordenar menus",
                "operationId": "d4658548f78c4512f60da6fa5e619912",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "position": {
                                                    "type": "integer",
                                                    "example": 0
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/menus/{menu}/items": {
            "get": {
                "tags": [
                    "Menus"
                ],
                "summary": "Listar itens de um menu (raiz -> filhos)",
                "operationId": "4919e7b386a82a6a40372addd260fe64",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Menus"
                ],
                "summary": "Criar item",
                "operationId": "5ae165068d045f6e8a391d58851408d9",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Criado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/menus/{menu}/items/tree": {
            "put": {
                "tags": [
                    "Menus"
                ],
                "summary": "Sincronizar árvore (reordenar e reparent)",
                "operationId": "f9da2ac78e8e1990dd6160bafa320e1d",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/permissions": {
            "get": {
                "tags": [
                    "RBAC"
                ],
                "summary": "Listar permissões",
                "operationId": "c8e60e1cdfb99866cdca9b2d3737f847",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/portal-games": {
            "get": {
                "tags": [
                    "Portal Games"
                ],
                "summary": "Listar jogos do portal (portal_games) enriquecidos com RTP/Volatilidade/Aposta mínima",
                "operationId": "4dab3015dc9e38f3caa52db990a1222b",
                "parameters": [
                    {
                        "name": "portal_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "Roulette"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/portal-games/overview": {
            "get": {
                "tags": [
                    "Portal Games"
                ],
                "summary": "Listar portal_games com RTP/Volatilidade/Aposta mínima (cursor paginate)",
                "operationId": "f9243b53ac0339a0fe774ad99f4174a8",
                "parameters": [
                    {
                        "name": "portal_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "Roulette"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 50
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/public/portal-games/providers": {
            "get": {
                "tags": [
                    "Portal Games Public"
                ],
                "summary": "Get providers with game count for a portal",
                "operationId": "fd458d6b92dc945a323a1a6d6dc432d3",
                "parameters": [
                    {
                        "name": "portal_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of providers"
                    }
                }
            }
        },
        "/api/v1/public/portal-games/by-provider": {
            "get": {
                "tags": [
                    "Portal Games Public"
                ],
                "summary": "Get games by provider for a portal",
                "operationId": "a1038b6d756173c9048f7453ddc5c10c",
                "parameters": [
                    {
                        "name": "portal_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "provider_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of games"
                    }
                }
            }
        },
        "/api/v1/portal-games/sync": {
            "post": {
                "tags": [
                    "Portal Games"
                ],
                "summary": "Sincronizar jogos da API base (portal_games) pelo PortalId",
                "operationId": "cead8fabef75bc5a0517ad5b9459ab6b",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "portal_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/slots/sync-from-portal": {
            "post": {
                "tags": [
                    "Slots"
                ],
                "summary": "Pré-cadastrar (upsert) slots a partir de portal_games",
                "operationId": "f15c8c434dcdbc1b8744c49cf68ef37e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "portal_id"
                                ],
                                "properties": {
                                    "portal_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "example": "active"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/providers": {
            "get": {
                "tags": [
                    "Providers"
                ],
                "summary": "Listar provedores",
                "operationId": "41efb7825509e17c300a278f31e7a617",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/providers/{id}": {
            "get": {
                "tags": [
                    "Providers"
                ],
                "summary": "Detalhar provedor e seus jogos",
                "operationId": "c80815ccb961e442f83c4ae81af36e24",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Providers"
                ],
                "summary": "Atualizar provedor",
                "operationId": "07e3ff66f0cfdfa6c5a379480c9ccd7c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/providers/reorder": {
            "put": {
                "tags": [
                    "Providers"
                ],
                "summary": "Reordenar provedores",
                "operationId": "348d190372319b3cf31f53764db73e5d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "providers": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "position": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/providers/sync": {
            "post": {
                "tags": [
                    "Providers"
                ],
                "summary": "Sincronizar provedores da API externa",
                "operationId": "07167f37e43726cfb1bec7d0a7ceabab",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "portal_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/roles": {
            "get": {
                "tags": [
                    "RBAC"
                ],
                "summary": "Listar roles",
                "operationId": "c1294bb85dfc016a8f9c0d3f0907293f",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "RBAC"
                ],
                "summary": "Criar role",
                "operationId": "c7f58f49125e9b60da0f0db6890a4f22",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "marketing"
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "banners.publish"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Criado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/roles/{id}": {
            "get": {
                "tags": [
                    "RBAC"
                ],
                "summary": "Obter role por ID",
                "operationId": "9004c1b664a5ad189ceea42fb66f4adc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "RBAC"
                ],
                "summary": "Atualizar role",
                "operationId": "b3bbedf26c1519fed8b75569959e525c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "content"
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "banners.update"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "RBAC"
                ],
                "summary": "Remover role",
                "operationId": "6bc525095ab83caa6eff5e63447cf7f5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Sem conteúdo"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/settings": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Listar settings (admin)",
                "operationId": "0dd8f3513d25a61df64210ec5b698722",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Settings"
                ],
                "summary": "Criar setting",
                "operationId": "338954b5470c0d400587b35ec02d2f76",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Criado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/settings/public": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Listar settings públicos (sem auth)",
                "operationId": "71b73a486596a3b9baf58c0f441f2ae5",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/v1/settings/{id}": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Detalhar setting",
                "operationId": "359536f868886832b970609db46ee16c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Settings"
                ],
                "summary": "Atualizar setting",
                "operationId": "be7b29f515644f98a9e5a507ae7fc62c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Settings"
                ],
                "summary": "Remover setting",
                "operationId": "67716e0c7a91fdbf288b582096d104f1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Sem conteúdo"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/showcases": {
            "get": {
                "tags": [
                    "Showcases"
                ],
                "summary": "Listar vitrines",
                "operationId": "d283175be1a7bf7521005d8ac075b347",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Showcases"
                ],
                "summary": "Criar vitrine",
                "operationId": "559e6281aa3d78f2ccc6b24dfc4ef0e2",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Criado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/showcases/{id}/slots": {
            "put": {
                "tags": [
                    "Showcases"
                ],
                "summary": "Sincronizar slots da vitrine (manual)",
                "operationId": "206bf39d73922dee9326b69707194020",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/slots": {
            "get": {
                "tags": [
                    "Slots"
                ],
                "summary": "Listar slots",
                "operationId": "7617b91dea798b9b0535615e58f38204",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Slots"
                ],
                "summary": "Criar slot",
                "operationId": "e024679ff643314058085e14ca635a11",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Criado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/slots/by-ids": {
            "post": {
                "tags": [
                    "Slots"
                ],
                "summary": "Listar slots por IDs externos",
                "operationId": "74e506b5a8dfbfa2e5b48035a3b9c3cf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "externalIds": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/slots/{id}": {
            "get": {
                "tags": [
                    "Slots"
                ],
                "summary": "Detalhar slot",
                "operationId": "fc7b293dd85066629891b53a62023464",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Slots"
                ],
                "summary": "Atualizar slot",
                "operationId": "4d13e7bc130eb9ac31d773b506ddc6da",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
[...]
